<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Viewer</title>
  </head>
  <body>
    <h1>Image Viewer</h1>
    <p>Timestamp: <%= timestamp %></p>
    <p>Request Count: <%= requestCount %></p>
    <p>Hash: <%= hash %></p>
    <img src="data:image/jpeg;base64,<%= imageData %>" alt="Random Image" />

    <h2>Todos</h2>

    <ul id="todoList">
      <% if (todos && todos.length > 0) { %> <% todos.forEach(function(todo) {
      %>
      <li><%= todo %></li>
      <% }); %> <% } else { %>
      <li>No todos found</li>
      <% } %>
    </ul>

    <form id="todoForm" action="/postTodo" method="POST">
      <input
        type="text"
        id="todoInput"
        name="todo"
        maxlength="140"
        placeholder="Enter your todo here"
        required
      />
      <button type="submit">Send</button>
    </form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
    >
      import axios from "axios";

      console.log("?Am I even loading right now?");

      // We know we hasve the data in the dserver bevause we have logged it.

      document.addEventListener("DOMContentLoaded", () => {
        // html page loads up, we call the fetchTodos function
        console.log("calling the fetchTodos function");
        fetchTodos();

        document
          .getElementById("todoForm")
          .addEventListener("submit", async (event) => {
            event.preventDefault();
            const input = document.getElementById("todoInput");
            const value = input.value.trim();

            if (isValidTodoValue(value)) {
              await postTodoToBackend(value);
              addTodoToList(value);
              input.value = "";
            } else {
              alert("Todo must be between 1 and 140 characters.");
            }
          });
      });

      async function fetchTodos() {
        try {
          // We make the call to the backend service using the service name. This is the only part I am worried about. I am unsure which endpoint to hit.
          console.log("fetching todos FE");
          const response = await axios.get("localhost:8081/todos");
          const todos = response.data;
          console.log("todos", todos);
          // We iterate over the todos and add them to the list
          todos.forEach((todo) => addTodoToList(todo));
        } catch (error) {
          console.error("Error fetching todos:", error);
        }
      }

      async function postTodoToBackend(todo) {
        try {
          const data = await axios.post("localhost:8081/todos", { todo });
          console.log("Posted todo:", data);
          return data;
        } catch (error) {
          console.error("Error posting todo:", error);
        }
      }

      function createTodoItem(value) {
        const li = document.createElement("li");
        li.textContent = value;
        return li;
      }

      function addTodoToList(value) {
        const list = document.getElementById("todoList");
        const todoItem = createTodoItem(value);
        list.appendChild(todoItem);
      }

      function isValidTodoValue(value) {
        return value.length > 0 && value.length <= 140;
      }
    </script>
  </body>
</html>
